
.campaign-single{
    background-image: url(../../img/single-campaign.png);
    background-attachment: fixed;
    padding: 140px 15px;
    width: 100%;
    height: 100%;
    background-size: cover;
    margin-bottom: 30px;
}

.campaign-wrapper{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.campaign-wrapper h2{
    font-size: 25px;
}

.campaign-wrapper strong{
    font-size: 55px;
    font-weight: 600;
    margin: 20px 0;
}

.campaign-wrapper span{
    display: inline-block;
    height: 4px;
    width: 50px;
    background-color: white;
}

.campaign-wrapper > a{
    background-color: white;
    margin-top: 60px;
}

.campaign-wrapper > a:hover{
    background-color: #1367ef;
    border-color: #1367ef;
    color: white;
}